In [1]:
### THROUGHOUT:
### - meaningful variable names
### - thorough comments that explain the code
### - general housekeeping
### - if possible, reorder columns
### - if possible, bypass writing XML; if cannot, make more meaningful name/location
### - FULL STOP: commit and submit pull request
### - reimplement core steps as functions: start with 2 big ones and try to do subfunctions from there
### - write in some broader level narrative using markdown cells
### - work on doing some plotting in R - ideally take advantage of SoS and pass dataframe directly to an R cell, but if we need to use an intermediate file then thats okay too.
### - calculate some summary statistics in R too. We have been focused on assembly length, but understanding distributions of other attributes is meaningful as well
### - also just knowing the counts of genomes and very basic stuff is good too

In [2]:
# importing the required modules 
import csv 
import requests 
import xml.etree.ElementTree as ET
import pandas as pd

In [3]:
# url for all assemblies
url = 'https://www.ebi.ac.uk/ena/data/view/Taxon:8782&portal=assembly&subtree=true&display=xml'
print(url)

https://www.ebi.ac.uk/ena/data/view/Taxon:8782&portal=assembly&subtree=true&display=xml

In [4]:
# creating HTTP response object from given url 
resp = requests.get(url)

In [5]:
# saving the xml file 
with open('BGS.xml', 'wb') as f: 
    f.write(resp.content)

In [6]:
# create element tree object 
tree = ET.parse('BGS.xml')

In [7]:
# get root element 
root = tree.getroot()

In [8]:
#Retreiving all GCA ids through parsing and word search and saving to a dictionary.
GCA=[]
for node in tree.findall('.//IDENTIFIERS'):
    for snode in node.getchildren():
        if snode.tag == "PRIMARY_ID":
            word=snode.text
            if (word.find('GCA') != -1): 
                print (word) 
                GCA.append(word)

GCA_000002315.5
GCA_000146605.3
GCA_000151805.2
GCA_000238935.1
GCA_000247815.2
GCA_000277835.1
GCA_000331425.1
GCA_000332375.1
GCA_000337935.2
GCA_000337955.1
GCA_000337975.1
GCA_000355885.1
GCA_000385455.1
GCA_000400545.1
GCA_000400695.1
GCA_000511605.2
GCA_000534875.1
GCA_000586395.1
GCA_000599465.2
GCA_000599485.1
GCA_000687185.1
GCA_000687205.1
GCA_000687265.1
GCA_000687285.1
GCA_000687375.1
GCA_000690535.1
GCA_000690715.1
GCA_000690775.1
GCA_000690835.1
GCA_000690875.1
GCA_000691405.1
GCA_000691785.1
GCA_000691845.1
GCA_000691975.1
GCA_000692015.2
GCA_000692075.1
GCA_000695195.1
GCA_000695765.1
GCA_000695815.1
GCA_000696035.1
GCA_000696875.1
GCA_000698965.1
GCA_000699005.1
GCA_000699085.1
GCA_000699105.1
GCA_000699145.1
GCA_000699245.1
GCA_000699545.1
GCA_000699945.1
GCA_000700745.1
GCA_000703405.1
GCA_000705375.2
GCA_000708025.2
GCA_000708225.1
GCA_000708925.1
GCA_000709325.1
GCA_000709365.1
GCA_000709895.1
GCA_000710305.1
GCA_000737465.1
GCA_000738735.2
GCA_000747805.1
GCA_000766835.1
GCA_000971095.1
GCA_001039765.2
GCA_001281735.1
GCA_001420675.1
GCA_001431845.1
GCA_001447265.1
GCA_001458055.1
GCA_001522545.3
GCA_001577835.1
GCA_001604755.1
GCA_001655095.1
GCA_001655115.1
GCA_001655135.1
GCA_001700915.1
GCA_001715985.3
GCA_001746935.1
GCA_001870855.1
GCA_001887755.1
GCA_001887795.1
GCA_002002965.1
GCA_002002985.1
GCA_002003005.1
GCA_002008985.2
GCA_002021895.1
GCA_002023255.2
GCA_002029285.1
GCA_002078875.2
GCA_002166845.1
GCA_002167245.1
GCA_002173435.1
GCA_002173455.1
GCA_002173475.1
GCA_002174335.1
GCA_002197715.1
GCA_002218305.1
GCA_002224875.1
GCA_002224895.1
GCA_002224895.1
GCA_002289315.1
GCA_002305835.1
GCA_002372975.1
GCA_002592135.1
GCA_002631895.1
GCA_002743455.1
GCA_002798355.1
GCA_002844005.1
GCA_002849675.1
GCA_002850735.1
GCA_002870145.1
GCA_002901205.1
GCA_002909625.1
GCA_003031625.1
GCA_003259725.1
GCA_003264535.1
GCA_003264545.1
GCA_003264555.1
GCA_003264595.1
GCA_003264615.1
GCA_003264635.1
GCA_003264655.1
GCA_003264665.1
GCA_003264685.1
GCA_003264715.1
GCA_003264735.1
GCA_003264755.1
GCA_003286495.1
GCA_003342815.1
GCA_003342835.1
GCA_003342845.1
GCA_003342895.1
GCA_003342905.1
GCA_003342915.1
GCA_003342965.1
GCA_003342985.1
GCA_003343005.1
GCA_003343035.1
GCA_003400225.1
GCA_003402825.1
GCA_003413605.1
GCA_003426825.1
GCA_003435085.1
GCA_003546035.1
GCA_003676055.1
GCA_003692655.1
GCA_003697955.1
GCA_003713215.1
GCA_003713265.1
GCA_003713285.1
GCA_003713295.1
GCA_003713305.1
GCA_003829775.1
GCA_003850225.1
GCA_003945595.1
GCA_003945725.1
GCA_003947215.1
GCA_003957525.1
GCA_003957555.2
GCA_003957565.2
GCA_003957575.1
GCA_003984885.2
GCA_003993805.1
GCA_004011185.1
GCA_004023745.1
GCA_004027225.1
GCA_004143745.1
GCA_004320125.1
GCA_004320145.1
GCA_004320165.1
GCA_004320185.1
GCA_004320205.1
GCA_004320225.1
GCA_004360235.1
GCA_005519975.1
GCA_005870125.1
GCA_005890655.1
GCA_006229135.1
GCA_006937325.1
GCA_006938045.1
GCA_007115625.1
GCA_007252995.1
GCA_007556475.1
GCA_007636935.1
GCA_900067835.1
GCA_900205225.1
GCA_900496995.2
GCA_900560995.1
GCA_900561015.1
GCA_901699155.1
GCA_901699165.1
GCA_902153765.1

/Users/cthillairajah17/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  after removing the cwd from sys.path.

In [10]:
# Retreiving xml for each assembly.
# This section iterates each GCA id retreived in the previous step into a url designe to query 
# the EBI database for the matching assembly metadata. The resulting xmle is then run 
# through the steps needed to use ET while remaining in the for loop.
dict=[]
for i in range(0, len(GCA)):
        
    url = 'https://www.ebi.ac.uk/ena/data/view/'+GCA[i]+'&display=xml'

    resp = requests.get(url) 
    with open('BGS.xml', 'wb') as f: 
        f.write(resp.content)
    tree = ET.parse('BGS.xml') 
    root = tree.getroot() 
    
    # Retreiving GCA id and sample id and saving to dictionary
    
    ID=[]
    for node in tree.findall('.//IDENTIFIERS'):
        for snode in node.getchildren():
           # print(snode.tag, snode.text)
            if snode.tag == "PRIMARY_ID":
                ID.append(snode.text)
   
    gca_id = ID[0] # The GCA id
    sample_id = ID[1] #The sample acession
    
    dict.append((i, 'gca_id', gca_id))
    dict.append((i, 'sample_id', sample_id))
    
    # Retreiving the taxon id and scientific name and saving to dictionary.
    taxon=[]
    for node in tree.findall('.//TAXON'):
        for snode in node.getchildren():
            taxon.append(snode.text)
   
    taxon_id = taxon[0] # The taxon id
    sname = taxon[1] # The scientific name
    

    dict.append((i, 'taxon_id', taxon_id))
    dict.append((i, 'sname_id', sname))
    
    # Retreiving all metadata fields by parsing all Assembly_Attribute subnodes and retreving TAGs and VALUEs
    
    tags=[]
    for node in tree.findall('.//ASSEMBLY_ATTRIBUTE'):
        for snode in node.getchildren():
            if snode.tag == "TAG":
                key=snode.text
                tags.append(key)
    

    values=[]            
    for node in tree.findall('.//ASSEMBLY_ATTRIBUTE'):
        for snode in node.getchildren():
            if snode.tag == "VALUE":
                value=snode.text
                values.append(value)
                
    # Saving data to a dictionary.
    for j in range(0, len(tags)):
        
        dict.append((i, tags[j], values[j]))
print(dict)

/Users/cthillairajah17/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
/Users/cthillairajah17/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
/Users/cthillairajah17/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:48: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
/Users/cthillairajah17/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:56: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.

[(0, 'gca_id', 'GCA_000002315.5'), (0, 'sample_id', 'SAMN02981218'), (0, 'taxon_id', '9031'), (0, 'sname_id', 'Gallus gallus'), (0, 'total-length', '1065348650'), (0, 'ungapped-length', '1055564190'), (0, 'n50', '20785086'), (0, 'spanned-gaps', '878'), (0, 'unspanned-gaps', '68'), (0, 'scaffold-count', '524'), (0, 'count-contig', '1402'), (0, 'contig-n50', '17655422'), (0, 'contig-L50', '19'), (0, 'contig-n75', '9688072'), (0, 'contig-n90', '2759626'), (0, 'scaf-L50', '12'), (0, 'scaf-n75', '12763716'), (0, 'scaf-n90', '6153034'), (0, 'replicon-count', '34'), (0, 'count-non-chromosome-replicon', '0'), (0, 'count-alt-loci-units', '0'), (0, 'count-regions', '0'), (0, 'count-patches', '0'), (0, 'ENA-LAST-UPDATED', '2018-12-05'), (1, 'gca_id', 'GCA_000146605.3'), (1, 'sample_id', 'SAMN02981253'), (1, 'taxon_id', '9103'), (1, 'sname_id', 'Meleagris gallopavo'), (1, 'total-length', '1128339136'), (1, 'ungapped-length', '1093044709'), (1, 'n50', '3801642'), (1, 'spanned-gaps', '62525'), (1, 'unspanned-gaps', '2520'), (1, 'scaffold-count', '233806'), (1, 'count-contig', '296331'), (1, 'contig-n50', '26671'), (1, 'contig-L50', '11556'), (1, 'contig-n75', '11137'), (1, 'contig-n90', '1126'), (1, 'scaf-L50', '82'), (1, 'scaf-n75', '826892'), (1, 'scaf-n90', '2279'), (1, 'replicon-count', '33'), (1, 'count-non-chromosome-replicon', '1'), (1, 'count-alt-loci-units', '0'), (1, 'count-regions', '0'), (1, 'count-patches', '0'), (1, 'ENA-LAST-UPDATED', '2017-12-08'), (2, 'gca_id', 'GCA_000151805.2'), (2, 'sample_id', 'SAMN02981239'), (2, 'taxon_id', '59729'), (2, 'sname_id', 'Taeniopygia guttata'), (2, 'total-length', '1232118738'), (2, 'ungapped-length', '1222847838'), (2, 'n50', '8236790'), (2, 'spanned-gaps', '87384'), (2, 'unspanned-gaps', '326'), (2, 'scaffold-count', '37421'), (2, 'count-contig', '124805'), (2, 'contig-n50', '38644'), (2, 'contig-L50', '8015'), (2, 'contig-n75', '10023'), (2, 'contig-n90', '2988'), (2, 'scaf-L50', '37'), (2, 'scaf-n75', '2365395'), (2, 'scaf-n90', '8511'), (2, 'replicon-count', '35'), (2, 'count-non-chromosome-replicon', '0'), (2, 'count-alt-loci-units', '0'), (2, 'count-regions', '0'), (2, 'count-patches', '0'), (2, 'ENA-LAST-UPDATED', '2014-01-17'), (3, 'gca_id', 'GCA_000238935.1'), (3, 'sample_id', 'SAMN02981360'), (3, 'taxon_id', '13146'), (3, 'sname_id', 'Melopsittacus undulatus'), (3, 'total-length', '1117355426'), (3, 'ungapped-length', '1086602023'), (3, 'n50', '10614383'), (3, 'spanned-gaps', '45651'), (3, 'unspanned-gaps', '0'), (3, 'scaffold-count', '25211'), (3, 'count-contig', '70862'), (3, 'contig-n50', '55633'), (3, 'contig-L50', '5478'), (3, 'contig-n75', '24998'), (3, 'contig-n90', '8720'), (3, 'scaf-L50', '28'), (3, 'scaf-n75', '3647686'), (3, 'scaf-n90', '907416'), (3, 'replicon-count', '0'), (3, 'count-non-chromosome-replicon', '0'), (3, 'count-alt-loci-units', '0'), (3, 'count-regions', '0'), (3, 'count-patches', '0'), (3, 'ENA-LAST-UPDATED', '2013-12-03'), (4, 'gca_id', 'GCA_000247815.2'), (4, 'sample_id', 'SAMN02981387'), (4, 'taxon_id', '59894'), (4, 'sname_id', 'Ficedula albicollis'), (4, 'count-patches', '0'), (4, 'total-length', '1118343587'), (4, 'ungapped-length', '1102325870'), (4, 'n50', '6542656'), (4, 'spanned-gaps', '9007'), (4, 'unspanned-gaps', '408'), (4, 'scaffold-count', '21836'), (4, 'count-contig', '30843'), (4, 'contig-n50', '410964'), (4, 'contig-L50', '771'), (4, 'contig-n75', '210094'), (4, 'contig-n90', '82403'), (4, 'scaf-L50', '48'), (4, 'scaf-n75', '2461026'), (4, 'scaf-n90', '747680'), (4, 'replicon-count', '34'), (4, 'count-non-chromosome-replicon', '1'), (4, 'count-alt-loci-units', '0'), (4, 'count-regions', '0'), (4, 'ENA-LAST-UPDATED', '2013-06-28'), (5, 'gca_id', 'GCA_000277835.1'), (5, 'sample_id', 'SAMN00839579'), (5, 'taxon_id', '48883'), (5, 'sname_id', 'Geospiza fortis'), (5, 'total-length', '1065292181'), (5, 'ungapped-length', '1041286029'), (5, 'n50', '5255844'), (5, 'spanned-gaps', '68589'), (5, 'unspanned-gaps', '0'), (5, 'scaffold-count', '27239'), (5, 'count-contig', '95828'), (5, 'contig-n50', '30521'), (5, 'contig-L50', '9807'), (5, 'contig-n75', '15248'), (5, 'contig-n90', '6592'), (5, 'scaf-L50', '54'), (5, 'scaf-n75', '2009134'), (5, 'scaf-n90', '655882'), (5, 'replicon-count', '0'), (5, 'count-non-chromosome-replicon', '0'), (5, 'count-alt-loci-units', '0'), (5, 'count-regions', '0'), (5, 'count-patches', '0'), (5, 'ENA-LAST-UPDATED', '2016-03-03'), (6, 'gca_id', 'GCA_000331425.1'), (6, 'sample_id', 'SAMN02981490'), (6, 'taxon_id', '181119'), (6, 'sname_id', 'Pseudopodoces humilis'), (6, 'contig-n50', '165265'), (6, 'contig-L50', '1794'), (6, 'contig-n75', '83942'), (6, 'contig-n90', '36811'), (6, 'scaf-L50', '16'), (6, 'scaf-n75', '5291879'), (6, 'scaf-n90', '1805605'), (6, 'replicon-count', '0'), (6, 'count-non-chromosome-replicon', '0'), (6, 'count-alt-loci-units', '0'), (6, 'count-regions', '0'), (6, 'count-patches', '0'), (6, 'total-length', '1042980823'), (6, 'ungapped-length', '1030013627'), (6, 'n50', '16337386'), (6, 'spanned-gaps', '21646'), (6, 'unspanned-gaps', '0'), (6, 'scaffold-count', '5405'), (6, 'count-contig', '27051'), (6, 'ENA-LAST-UPDATED', '2013-08-26'), (7, 'gca_id', 'GCA_000332375.1'), (7, 'sample_id', 'SAMN02981494'), (7, 'taxon_id', '241585'), (7, 'sname_id', 'Amazona vittata'), (7, 'total-length', '1175404042'), (7, 'ungapped-length', '1128255752'), (7, 'n50', '19239'), (7, 'spanned-gaps', '112417'), (7, 'unspanned-gaps', '0'), (7, 'scaffold-count', '182974'), (7, 'count-contig', '295391'), (7, 'contig-n50', '6904'), (7, 'contig-L50', '47690'), (7, 'contig-n75', '3617'), (7, 'contig-n90', '1857'), (7, 'scaf-L50', '16505'), (7, 'scaf-n75', '8373'), (7, 'scaf-n90', '2839'), (7, 'replicon-count', '0'), (7, 'count-non-chromosome-replicon', '0'), (7, 'count-alt-loci-units', '0'), (7, 'count-regions', '0'), (7, 'count-patches', '0'), (7, 'ENA-LAST-UPDATED', '2013-07-03'), (8, 'gca_id', 'GCA_000337935.2'), (8, 'sample_id', 'SAMN02981415'), (8, 'taxon_id', '8932'), (8, 'sname_id', 'Columba livia'), (8, 'total-length', '1108534737'), (8, 'ungapped-length', '1087765385'), (8, 'n50', '14233134'), (8, 'spanned-gaps', '92120'), (8, 'unspanned-gaps', '0'), (8, 'scaffold-count', '15057'), (8, 'count-contig', '107177'), (8, 'contig-n50', '26627'), (8, 'contig-L50', '12120'), (8, 'contig-n75', '13806'), (8, 'contig-n90', '6405'), (8, 'scaf-L50', '17'), (8, 'scaf-n75', '4899519'), (8, 'scaf-n90', '1608914'), (8, 'replicon-count', '0'), (8, 'count-non-chromosome-replicon', '0'), (8, 'count-alt-loci-units', '0'), (8, 'count-regions', '0'), (8, 'count-patches', '0'), (8, 'ENA-LAST-UPDATED', '2017-12-13'), (9, 'gca_id', 'GCA_000337955.1'), (9, 'sample_id', 'SAMN02981425'), (9, 'taxon_id', '8954'), (9, 'sname_id', 'Falco peregrinus'), (9, 'total-length', '1171955363'), (9, 'ungapped-length', '1153386289'), (9, 'n50', '3935757'), (9, 'spanned-gaps', '76060'), (9, 'unspanned-gaps', '0'), (9, 'scaffold-count', '7020'), (9, 'count-contig', '83080'), (9, 'contig-n50', '28645'), (9, 'contig-L50', '12168'), (9, 'contig-n75', '15764'), (9, 'contig-n90', '8203'), (9, 'scaf-L50', '90'), (9, 'scaf-n75', '1923668'), (9, 'scaf-n90', '938520'), (9, 'replicon-count', '0'), (9, 'count-non-chromosome-replicon', '0'), (9, 'count-alt-loci-units', '0'), (9, 'count-regions', '0'), (9, 'count-patches', '0'), (9, 'ENA-LAST-UPDATED', '2013-04-18'), (10, 'gca_id', 'GCA_000337975.1'), (10, 'sample_id', 'SAMN02981426'), (10, 'taxon_id', '345164'), (10, 'sname_id', 'Falco cherrug'), (10, 'total-length', '1174811715'), (10, 'ungapped-length', '1150993769'), (10, 'n50', '4154532'), (10, 'spanned-gaps', '70035'), (10, 'unspanned-gaps', '0'), (10, 'scaffold-count', '5863'), (10, 'count-contig', '75898'), (10, 'contig-n50', '31327'), (10, 'contig-L50', '10949'), (10, 'contig-n75', '16994'), (10, 'contig-n90', '8800'), (10, 'scaf-L50', '84'), (10, 'scaf-n75', '2202528'), (10, 'scaf-n90', '987605'), (10, 'replicon-count', '0'), (10, 'count-non-chromosome-replicon', '0'), (10, 'count-alt-loci-units', '0'), (10, 'count-regions', '0'), (10, 'count-patches', '0'), (10, 'ENA-LAST-UPDATED', '2013-08-26'), (11, 'gca_id', 'GCA_000355885.1'), (11, 'sample_id', 'SAMN00011637'), (11, 'taxon_id', '8839'), (11, 'sname_id', 'Anas platyrhynchos'), (11, 'total-length', '1105035747'), (11, 'ungapped-length', '1069956150'), (11, 'n50', '1233631'), (11, 'spanned-gaps', '148961'), (11, 'unspanned-gaps', '0'), (11, 'scaffold-count', '78487'), (11, 'count-contig', '227448'), (11, 'contig-n50', '26114'), (11, 'contig-L50', '11206'), (11, 'contig-n75', '10736'), (11, 'contig-n90', '3062'), (11, 'scaf-L50', '268'), (11, 'scaf-n75', '532024'), (11, 'scaf-n90', '195458'), (11, 'replicon-count', '0'), (11, 'count-non-chromosome-replicon', '0'), (11, 'count-alt-loci-units', '0'), (11, 'count-regions', '0'), (11, 'count-patches', '0'), (11, 'ENA-LAST-UPDATED', '2013-06-11'), (12, 'gca_id', 'GCA_000385455.1'), (12, 'sample_id', 'SAMN02981528'), (12, 'taxon_id', '44394'), (12, 'sname_id', 'Zonotrichia albicollis'), (12, 'total-length', '1052600561'), (12, 'ungapped-length', '1006303327'), (12, 'n50', '4866725'), (12, 'spanned-gaps', '31643'), (12, 'unspanned-gaps', '0'), (12, 'scaffold-count', '6018'), (12, 'count-contig', '37661'), (12, 'contig-n50', '112748'), (12, 'contig-L50', '2385'), (12, 'contig-n75', '43045'), (12, 'contig-n90', '13579'), (12, 'scaf-L50', '52'), (12, 'scaf-n75', '1881141'), (12, 'scaf-n90', '543549'), (12, 'replicon-count', '0'), (12, 'count-non-chromosome-replicon', '0'), (12, 'count-alt-loci-units', '0'), (12, 'count-regions', '0'), (12, 'count-patches', '0'), (12, 'ENA-LAST-UPDATED', '2013-08-26'), (13, 'gca_id', 'GCA_000400545.1'), (13, 'sample_id', 'SAMN02981465'), (13, 'taxon_id', '176014'), (13, 'sname_id', 'Ara macao'), (13, 'total-length', '1035921044'), (13, 'ungapped-length', '1035921044'), (13, 'n50', '6366'), (13, 'spanned-gaps', '0'), (13, 'unspanned-gaps', '0'), (13, 'scaffold-count', '282947'), (13, 'count-contig', '282947'), (13, 'contig-n50', '6366'), (13, 'contig-L50', '45216'), (13, 'contig-n75', '3181'), (13, 'contig-n90', '1561'), (13, 'scaf-L50', '45216'), (13, 'scaf-n75', '3181'), (13, 'scaf-n90', '1561'), (13, 'replicon-count', '0'), (13, 'count-non-chromosome-replicon', '0'), (13, 'count-alt-loci-units', '0'), (13, 'count-regions', '0'), (13, 'count-patches', '0'), (13, 'ENA-LAST-UPDATED', '2016-11-30'), (14, 'gca_id', 'GCA_000400695.1'), (14, 'sample_id', 'SAMN03000706'), (14, 'taxon_id', '176014'), (14, 'sname_id', 'Ara macao'), (14, 'total-length', '1204700227'), (14, 'ungapped-length', '997636166'), (14, 'n50', '15974'), (14, 'spanned-gaps', '311439'), (14, 'unspanned-gaps', '0'), (14, 'scaffold-count', '192790'), (14, 'count-contig', '504229'), (14, 'contig-n50', '4399'), (14, 'contig-L50', '61494'), (14, 'contig-n75', '2153'), (14, 'contig-n90', '961'), (14, 'scaf-L50', '21024'), (14, 'scaf-n75', '6716'), (14, 'scaf-n90', '2553'), (14, 'replicon-count', '1'), (14, 'count-non-chromosome-replicon', '1'), (14, 'count-alt-loci-units', '0'), (14, 'count-regions', '0'), (14, 'count-patches', '0'), (14, 'ENA-LAST-UPDATED', '2013-06-26'), (15, 'gca_id', 'GCA_000511605.2'), (15, 'sample_id', 'SAMD00009971'), (15, 'taxon_id', '93934'), (15, 'sname_id', 'Coturnix japonica'), (15, 'total-length', '898141602'), (15, 'ungapped-length', '880352380'), (15, 'n50', '3851064'), (15, 'spanned-gaps', '52344'), (15, 'unspanned-gaps', '0'), (15, 'scaffold-count', '9499'), (15, 'count-contig', '61843'), (15, 'contig-n50', '32115'), (15, 'contig-L50', '7399'), (15, 'contig-n75', '15707'), (15, 'contig-n90', '7378'), (15, 'scaf-L50', '68'), (15, 'scaf-n75', '1704759'), (15, 'scaf-n90', '621750'), (15, 'replicon-count', '0'), (15, 'count-non-chromosome-replicon', '0'), (15, 'count-alt-loci-units', '0'), (15, 'count-regions', '0'), (15, 'count-patches', '0'), (15, 'ENA-LAST-UPDATED', '2017-01-12'), (16, 'gca_id', 'GCA_000534875.1'), (16, 'sample_id', 'SAMEA3138919'), (16, 'taxon_id', '9135'), (16, 'sname_id', 'Serinus canaria'), (16, 'total-length', '1152083301'), (16, 'ungapped-length', '1127254831'), (16, 'n50', '17815079'), (16, 'spanned-gaps', '54020'), (16, 'unspanned-gaps', '0'), (16, 'scaffold-count', '304399'), (16, 'count-contig', '358419'), (16, 'contig-n50', '53884'), (16, 'contig-L50', '5339'), (16, 'contig-n75', '17922'), (16, 'contig-n90', '1897'), (16, 'scaf-L50', '13'), (16, 'scaf-n75', '6596869'), (16, 'scaf-n90', '29402'), (16, 'replicon-count', '0'), (16, 'count-non-chromosome-replicon', '0'), (16, 'count-alt-loci-units', '0'), (16, 'count-regions', '0'), (16, 'count-patches', '0'), (16, 'ENA-LAST-UPDATED', '2014-02-12'), (17, 'gca_id', 'GCA_000586395.1'), (17, 'sample_id', 'SAMN01814332'), (17, 'taxon_id', '162951'), (17, 'sname_id', 'Lyrurus tetrix tetrix'), (17, 'total-length', '657025294'), (17, 'ungapped-length', '657025294'), (17, 'n50', '1029'), (17, 'spanned-gaps', '0'), (17, 'unspanned-gaps', '0'), (17, 'scaffold-count', '971998'), (17, 'count-contig', '971998'), (17, 'contig-n50', '1029'), (17, 'contig-L50', '190159'), (17, 'contig-n75', '476'), (17, 'contig-n90', '286'), (17, 'scaf-L50', '190159'), (17, 'scaf-n75', '476'), (17, 'scaf-n90', '286'), (17, 'replicon-count', '0'), (17, 'count-non-chromosome-replicon', '0'), (17, 'count-alt-loci-units', '0'), (17, 'count-regions', '0'), (17, 'count-patches', '0'), (17, 'ENA-LAST-UPDATED', '2014-03-08'), (18, 'gca_id', 'GCA_000599465.2'), (18, 'sample_id', 'SAMN02981558'), (18, 'taxon_id', '9014'), (18, 'sname_id', 'Colinus virginianus'), (18, 'total-length', '1254146751'), (18, 'ungapped-length', '1134249133'), (18, 'n50', '2042136'), (18, 'spanned-gaps', '110726'), (18, 'unspanned-gaps', '0'), (18, 'scaffold-count', '42369'), (18, 'count-contig', '153095'), (18, 'contig-n50', '56067'), (18, 'contig-L50', '5092'), (18, 'contig-n75', '16426'), (18, 'contig-n90', '2619'), (18, 'scaf-L50', '150'), (18, 'scaf-n75', '65386'), (18, 'scaf-n90', '11797'), (18, 'replicon-count', '0'), (18, 'count-non-chromosome-replicon', '0'), (18, 'count-alt-loci-units', '0'), (18, 'count-regions', '0'), (18, 'count-patches', '0'), (18, 'ENA-LAST-UPDATED', '2017-07-13'), (19, 'gca_id', 'GCA_000599485.1'), (19, 'sample_id', 'SAMN02981558'), (19, 'taxon_id', '9014'), (19, 'sname_id', 'Colinus virginianus'), (19, 'total-length', '1042054936'), (19, 'ungapped-length', '1041782176'), (19, 'n50', '6260'), (19, 'spanned-gaps', '15910'), (19, 'unspanned-gaps', '0'), (19, 'scaffold-count', '374224'), (19, 'count-contig', '390134'), (19, 'contig-n50', '6034'), (19, 'contig-L50', '46282'), (19, 'contig-n75', '2865'), (19, 'contig-n90', '1160'), (19, 'scaf-L50', '44300'), (19, 'scaf-n75', '2967'), (19, 'scaf-n90', '1198'), (19, 'replicon-count', '0'), (19, 'count-non-chromosome-replicon', '0'), (19, 'count-alt-loci-units', '0'), (19, 'count-regions', '0'), (19, 'count-patches', '0'), (19, 'ENA-LAST-UPDATED', '2014-03-20'), (20, 'gca_id', 'GCA_000687185.1'), (20, 'sample_id', 'SAMN02596466'), (20, 'taxon_id', '188379'), (20, 'sname_id', 'Egretta garzetta'), (20, 'total-length', '1206484573'), (20, 'ungapped-length', '1157789170'), (20, 'n50', '3067157'), (20, 'spanned-gaps', '88871'), (20, 'unspanned-gaps', '0'), (20, 'scaffold-count', '11790'), (20, 'count-contig', '100661'), (20, 'contig-n50', '29019'), (20, 'contig-L50', '11667'), (20, 'contig-n75', '14867'), (20, 'contig-n90', '6884'), (20, 'scaf-L50', '113'), (20, 'scaf-n75', '1524009'), (20, 'scaf-n90', '665857'), (20, 'replicon-count', '0'), (20, 'count-non-chromosome-replicon', '0'), (20, 'count-alt-loci-units', '0'), (20, 'count-regions', '0'), (20, 'count-patches', '0'), (20, 'ENA-LAST-UPDATED', '2014-06-27'), (21, 'gca_id', 'GCA_000687205.1'), (21, 'sample_id', 'SAMN02339894'), (21, 'taxon_id', '56313'), (21, 'sname_id', 'Tyto alba'), (21, 'total-length', '1120143088'), (21, 'ungapped-length', '1111297855'), (21, 'n50', '52818'), (21, 'spanned-gaps', '109223'), (21, 'unspanned-gaps', '0'), (21, 'scaffold-count', '62122'), (21, 'count-contig', '171345'), (21, 'contig-n50', '17226'), (21, 'contig-L50', '18680'), (21, 'contig-n75', '8439'), (21, 'contig-n90', '3684'), (21, 'scaf-L50', '5943'), (21, 'scaf-n75', '25700'), (21, 'scaf-n90', '11234'), (21, 'replicon-count', '0'), (21, 'count-non-chromosome-replicon', '0'), (21, 'count-alt-loci-units', '0'), (21, 'count-regions', '0'), (21, 'count-patches', '0'), (21, 'ENA-LAST-UPDATED', '2014-10-10'), (22, 'gca_id', 'GCA_000687265.1'), (22, 'sample_id', 'SAMN02339890'), (22, 'taxon_id', '9218'), (22, 'sname_id', 'Phoenicopterus ruber ruber'), (22, 'total-length', '1132184511'), (22, 'ungapped-length', '1127809853'), (22, 'n50', '38071'), (22, 'spanned-gaps', '61291'), (22, 'unspanned-gaps', '0'), (22, 'scaffold-count', '76189'), (22, 'count-contig', '137480'), (22, 'contig-n50', '20262'), (22, 'contig-L50', '16707'), (22, 'contig-n75', '10547'), (22, 'contig-n90', '4884'), (22, 'scaf-L50', '8592'), (22, 'scaf-n75', '19766'), (22, 'scaf-n90', '8945'), (22, 'replicon-count', '0'), (22, 'count-non-chromosome-replicon', '0'), (22, 'count-alt-loci-units', '0'), (22, 'count-regions', '0'), (22, 'count-patches', '0'), (22, 'ENA-LAST-UPDATED', '2014-05-08'), (23, 'gca_id', 'GCA_000687285.1'), (23, 'sample_id', 'SAMN02339888'), (23, 'taxon_id', '97097'), (23, 'sname_id', 'Phaethon lepturus'), (23, 'total-length', '1152958507'), (23, 'ungapped-length', '1147080466'), (23, 'n50', '47896'), (23, 'spanned-gaps', '65286'), (23, 'unspanned-gaps', '0'), (23, 'scaffold-count', '66785'), (23, 'count-contig', '132071'), (23, 'contig-n50', '22941'), (23, 'contig-L50', '14707'), (23, 'contig-n75', '11726'), (23, 'contig-n90', '5315'), (23, 'scaf-L50', '6817'), (23, 'scaf-n75', '23548'), (23, 'scaf-n90', '10326'), (23, 'replicon-count', '0'), (23, 'count-non-chromosome-replicon', '0'), (23, 'count-alt-loci-units', '0'), (23, 'count-regions', '0'), (23, 'count-patches', '0'), (23, 'ENA-LAST-UPDATED', '2014-10-31'), (24, 'gca_id', 'GCA_000687375.1'), (24, 'sample_id', 'SAMN02339887'), (24, 'taxon_id', '36300'), (24, 'sname_id', 'Pelecanus crispus'), (24, 'total-length', '1160924693'), (24, 'ungapped-length', '1156708760'), (24, 'n50', '43364'), (24, 'spanned-gaps', '57580'), (24, 'unspanned-gaps', '0'), (24, 'scaffold-count', '63982'), (24, 'count-contig', '121562'), (24, 'contig-n50', '21679'), (24, 'contig-L50', '16160'), (24, 'contig-n75', '11642'), (24, 'contig-n90', '5750'), (24, 'scaf-L50', '7852'), (24, 'scaf-n75', '22746'), (24, 'scaf-n90', '11018'), (24, 'replicon-count', '0'), (24, 'count-non-chromosome-replicon', '0'), (24, 'count-alt-loci-units', '0'), (24, 'count-regions', '0'), (24, 'count-patches', '0'), (24, 'ENA-LAST-UPDATED', '2014-06-27'), (25, 'gca_id', 'GCA_000690535.1'), (25, 'sample_id', 'SAMN02318733'), (25, 'taxon_id', '54380'), (25, 'sname_id', 'Cariama cristata'), (25, 'total-length', '1132245425'), (25, 'ungapped-length', '1127945763'), (25, 'n50', '55197'), (25, 'spanned-gaps', '59230'), (25, 'unspanned-gaps', '0'), (25, 'scaffold-count', '53474'), (25, 'count-contig', '112704'), (25, 'contig-n50', '24645'), (25, 'contig-L50', '13705'), (25, 'contig-n75', '13223'), (25, 'contig-n90', '6290'), (25, 'scaf-L50', '5958'), (25, 'scaf-n75', '28413'), (25, 'scaf-n90', '13950'), (25, 'replicon-count', '0'), (25, 'count-non-chromosome-replicon', '0'), (25, 'count-alt-loci-units', '0'), (25, 'count-regions', '0'), (25, 'count-patches', '0'), (25, 'ENA-LAST-UPDATED', '2014-10-10'), (26, 'gca_id', 'GCA_000690715.1'), (26, 'sample_id', 'SAMN02324230'), (26, 'taxon_id', '57412'), (26, 'sname_id', 'Colius striatus'), (26, 'total-length', '1075931597'), (26, 'ungapped-length', '1072170539'), (26, 'n50', '46063'), (26, 'spanned-gaps', '44462'), (26, 'unspanned-gaps', '0'), (26, 'scaffold-count', '70188'), (26, 'count-contig', '114650'), (26, 'contig-n50', '25860'), (26, 'contig-L50', '12120'), (26, 'contig-n75', '13218'), (26, 'contig-n90', '5937'), (26, 'scaf-L50', '6512'), (26, 'scaf-n75', '22996'), (26, 'scaf-n90', '102

In [11]:
# Saving dictionary to a pandas data frame.
df = pd.DataFrame(dict)
print(df)

# Using pivot function to arrange data into indexed rows with the tags as columns.
piv=df.pivot(index=0, columns=1, values=2)
print(piv)

        0                              1                             2
0       0                         gca_id               GCA_000002315.5
1       0                      sample_id                  SAMN02981218
2       0                       taxon_id                          9031
3       0                       sname_id                 Gallus gallus
4       0                   total-length                    1065348650
5       0                ungapped-length                    1055564190
6       0                            n50                      20785086
7       0                   spanned-gaps                           878
8       0                 unspanned-gaps                            68
9       0                 scaffold-count                           524
10      0                   count-contig                          1402
11      0                     contig-n50                      17655422
12      0                     contig-L50                            19
13      0                     contig-n75                       9688072
14      0                     contig-n90                       2759626
15      0                       scaf-L50                            12
16      0                       scaf-n75                      12763716
17      0                       scaf-n90                       6153034
18      0                 replicon-count                            34
19      0  count-non-chromosome-replicon                             0
20      0           count-alt-loci-units                             0
21      0                  count-regions                             0
22      0                  count-patches                             0
23      0               ENA-LAST-UPDATED                    2018-12-05
24      1                         gca_id               GCA_000146605.3
25      1                      sample_id                  SAMN02981253
26      1                       taxon_id                          9103
27      1                       sname_id           Meleagris gallopavo
28      1                   total-length                    1128339136
29      1                ungapped-length                    1093044709
...   ...                            ...                           ...
4582  191                 replicon-count                             0
4583  191  count-non-chromosome-replicon                             0
4584  191           count-alt-loci-units                             0
4585  191                  count-regions                             0
4586  191                  count-patches                             0
4587  191               ENA-LAST-UPDATED                    2019-06-12
4588  192                         gca_id               GCA_902153765.1
4589  192                      sample_id                   SAMEA994725
4590  192                       taxon_id                        223781
4591  192                       sname_id  Aquila chrysaetos chrysaetos
4592  192                   total-length                     823060160
4593  192                ungapped-length                     822498650
4594  192                            n50                        659735
4595  192                   spanned-gaps                            39
4596  192                 unspanned-gaps                             0
4597  192                 scaffold-count                          3860
4598  192                   count-contig                          3899
4599  192                     contig-n50                        640223
4600  192                     contig-L50                           364
4601  192                     contig-n75                        287921
4602  192                     contig-n90                         76629
4603  192                       scaf-L50                           341
4604  192                       scaf-n75                        290643
4605  192                       scaf-n90                         76829
4606  192                 replicon-count                             0
4607  192  count-non-chromosome-replicon                             0
4608  192           count-alt-loci-units                             0
4609  192                  count-regions                             0
4610  192                  count-patches                             0
4611  192               ENA-LAST-UPDATED                    2019-07-12

[4612 rows x 3 columns]
1   ENA-LAST-UPDATED contig-L50 contig-n50 contig-n75 contig-n90  \
0
0         2018-12-05         19   17655422    9688072    2759626
1         2017-12-08      11556      26671      11137       1126
2         2014-01-17       8015      38644      10023       2988
3         2013-12-03       5478      55633      24998       8720
4         2013-06-28        771     410964     210094      82403
5         2016-03-03       9807      30521      15248       6592
6         2013-08-26       1794     165265      83942      36811
7         2013-07-03      47690       6904       3617       1857
8         2017-12-13      12120      26627      13806       6405
9         2013-04-18      12168      28645      15764       8203
10        2013-08-26      10949      31327      16994       8800
11        2013-06-11      11206      26114      10736       3062
12        2013-08-26       2385     112748      43045      13579
13        2016-11-30      45216       6366       3181       1561
14        2013-06-26      61494       4399       2153        961
15        2017-01-12       7399      32115      15707       7378
16        2014-02-12       5339      53884      17922       1897
17        2014-03-08     190159       1029        476        286
18        2017-07-13       5092      56067      16426       2619
19        2014-03-20      46282       6034       2865       1160
20        2014-06-27      11667      29019      14867       6884
21        2014-10-10      18680      17226       8439       3684
22        2014-05-08      16707      20262      10547       4884
23        2014-10-31      14707      22941      11726       5315
24        2014-06-27      16160      21679      11642       5750
25        2014-10-10      13705      24645      13223       6290
26        2014-10-30      12120      25860      13218       5937
27        2014-10-29      12843      24402      12481       5743
28        2014-09-23      13102      25926      13734       6520
29        2014-09-23      13686      24321      12638       5734
..               ...        ...        ...        ...        ...
163       2019-01-04       8417      36551      19009      10556
164       2019-05-17        460     153928      56253      27624
165       2019-01-16      31996      10462       5244       2484
166       2019-08-01         40    9454100    5132710    2190569
167       2019-02-07       1390     197843      95960      39363
168       2019-03-01       4687      61187      26577       9882
169       2019-03-01       8986      35336      16751       7367
170       2019-03-01      15032      18451       7082       2702
171       2019-03-01       6146      53802      25800      10954
172       2019-03-01       4968      56225      26149      10059
173       2019-03-01       4936      65049      30073      12577
174       2019-03-22         22   17886166    5710189    1516334
175       2019-05-20       2360     103131      25943       3411
176       2019-06-05       2867     100423      47476      18377
177       2019-07-09         87    3500535    1987948    1008043
178       2019-06-11       2510     120377      54610      23153
179       2019-07-12     321576        824        442        232
180       2019-07-12     335880        774        417        219
181       2019-07-29       3125      90869      36358      12960
182       2019-07-23      15610      20903      10803       5026
183       2019-07-26      12116      26333      13303       6014
184       2019-07-30      15731      16265       6926       3394
185       2016-03-12        423       4718       2446       1442
186       2017-10-06       2793      96283      41528      14890
187       2019-07-12         19   21924221   11910625    6759292
188       2019-02-06        NaN        NaN        NaN        NaN
189       2019-02-06        NaN        NaN        NaN        NaN
190       2019-06-12         87    3790373    1661000     478082
191       2019-06-12        369     776317     330868     125979
192       2019-07-12        364     640223     287921      76629

1   count-alt-loci-units count-contig count-non-chromosome-replicon  \
0
0                      0         1402                             0
1                      0       296331                             1
2                      0       124805                             0
3                      0        70862                             0
4                      0        30843                             1
5                      0        95828                             0
6                      0        27051                             0
7                      0       295391                             0
8                      0       107177                             0
9                      0        83080                             0
10                     0        75898                             0
11                     0       227448                             0
12                     0        37661                             0
13                     0       282947                             0
14                     0       504229                             1
15                     0        61843                             0
16                     0       358419                             0
17                     0       971998                             0
18                     0       153095                             0
19                     0       390134                             0
20                     0       100661                             0
21                     0       171345                             0
22                     0       137480                             0
23                     0       132071                             0
24                     0       121562                             0
25                     0       112704                             0
26                     0       114650                             0
27                     0       115170                             0
28                     0       112214                             0
29                     0       126712                             0
..                   ...          ...                           ...
163                    0        48668                             0
164                    0         3739                             0
165                    0       266069                             0
166                    0          456                             1
167                    0        58369                             0
168                    0        79353                             0
169                    0       105361                             0
170                    0       179014                             0
171                    0        75337                             0
172                    0        72306                             0
173                    0        64716                             0
174                    0         1818                             0
175                    0       184239                             0
176                    0        33371                             1
177                    0         1033                             1
178                    0        30885                             0
179                    0      1734487                             0
180                    0      1817914                             0
181                    0        44198                             1
182                    0       141956                             0
183                    0       122803                             0
184                    0       131679                             0
185                    0         2227                             0
186                    0        37236                             0
187                    0          333                             0
188                  NaN            1                             1
189                  NaN            1                             1
190                    0         1246                             0
191                    0         3333                             0
192                    0         3899                             0

1   count-patches count-regions  ... scaf-L50  scaf-n75  scaf-n90  \
0                                ...
0               0             0  ...       12  12763716   6153034
1               0             0  ...       82    826892      2279
2               0             0  ...       37   2365395      8511
3               0             0  ...       28   3647686    907416
4               0             0  ...       48   2461026    747680
5               0             0  ...       54   2009134    655882
6               0             0  ...       16   5291879   1805605
7               0             0  ...    16505      8373      2839
8               0             0  ...       17   4899519   1608914
9               0             0  ...       90   1923668    938520
10              0             0  ...       84   2202528    987605
11              0             0  ...      268    532024    195458
12              0             0  ...       52   1881141    543549
13              0             0  ...    45216      3181      1561
14              0             0  ...    21024      6716      2553
15              0             0  ...       68   1704759    621750
16              0             0  ...       13   6596869     29402
17              0             0  ...   190159       476       286
18              0             0  ...      150     65386     11797
19              0             0  ...    44300      2967      1198
20              0             0  ...      113   1524009    665857
21              0             0  ...     5943     25700     11234
22              0             0  ...     8592     19766      8945
23              0             0  ...     6817     23548     10326
24              0             0  ...     7852     22746     11018
25              0             0  ...     5958     28413     13950
26              0             0  ...     6512     22996     10271
27              0             0  ...     6386     23589     11017
28              0             0  ...     7016     24671     12102
29              0             0  ...     7094     23647     11461
..            ...           ...  ...      ...       ...       ...
163             0             0  ...        4  33015663  14219872
164             0             0  ...      460     56464     27734
165             0             0  ...     3255     43320     18667
166             0             0  ...        6  43987489  18881121
167             0             0  ...       27   4709314    970291
168             0             0  ...     2305     55935     22140
169             0             0  ...     3562     43023     18480
170             0             0  ...    13809      7760      2992
171             0             0  ...     2640     54280     22074
172             0             0  ...     4428     29282     11314
173             0             0  ...     3810     38948     16514
174             0             0  ...       22   5710189   1516334
175             0             0  ...     1294     35233      3595
176             0             0  ...        6  21238631  11552688
177             0             0  ...       81   2122777   1047023
178             0             0  ...       35   4431100   1267474
179             0             0  ...      111   1657812    783432
180             0             0  ...      111   1657693    782048
181             0             0  ...        5  36017390  20574983
182             0             0  ...      172    608282    139916
183             0             0  ...      767    138895     32386
184             0             0  ...     4904     11353      4552
185             0             0  ...      276      2655      1562
186             0             0  ...       24   3724092    989435
187             0             0  ...        9  30976502  24756580
188           NaN             0  ...      NaN       NaN       NaN
189           NaN             0  ...      NaN       NaN       NaN
190             0             0  ...        4  27101090  10837557
191             0             0  ...      369    330868    125979
192             0             0  ...      341    290643     76829

1   scaffold-count                             sname_id spanned-gaps taxon_id  \
0
0              524                        Gallus gallus          878     9031
1           233806                  Meleagris gallopavo        62525     9103
2            37421                  Taeniopygia guttata        87384    59729
3            25211              Melopsittacus undulatus        45651    13146
4            21836                  Ficedula albicollis         9007    59894
5            27239                      Geospiza fortis        68589    48883
6             5405                Pseudopodoces humilis        21646   181119
7           182974                      Amazona vittata       112417   241585
8            15057                        Columba livia        92120     8932
9             7020                     Falco peregrinus        76060     8954
10            5863                        Falco cherrug        70035   345164
11           78487                   Anas platyrhynchos       148961     8839
12            6018               Zonotrichia albicollis        31643    44394
13          282947                            Ara macao            0   176014
14          192790                            Ara macao       311439   176014
15            9499                    Coturnix japonica        52344    93934
16          304399                      Serinus canaria        54020     9135
17          971998                Lyrurus tetrix tetrix            0   162951
18           42369                  Colinus virginianus       110726     9014
19          374224                  Colinus virginianus        15910     9014
20           11790                     Egretta garzetta        88871   188379
21           62122                            Tyto alba       109223    56313
22           76189           Phoenicopterus ruber ruber        61291     9218
23           66785                    Phaethon lepturus        65286    97097
24           63982                    Pelecanus crispus        57580    36300
25           53474                     Cariama cristata        59230    54380
26           70188                      Colius striatus        44462    57412
27           62699                      Eurypyga helias        52471    54383
28           57389                   Fulmarus glacialis        54825    30455
29           61830                       Gavia stellata        64882    37040
..             ...                                  ...          ...      ...
163           1442  Himantopus himantopus leucocephalus        47226   507594
164           3728                  Strigops habroptila           11  2489341
165          35873               Recurvirostra avosetta       230196   171275
166            100                  Strigops habroptila          356  2489341
167          39677                  Phasianus colchicus        18692     9054
168          40750                        Scolopax mira        38603  1381582
169          44975                      Accipiter nisus        60386   211598
170         154720                 Dendrocopos noguchii        24294  1517798

In [12]:
#converting DataFrame into \ seperated .csv file.
pd.DataFrame.to_csv(piv, index=False, sep="\t")

'ENA-LAST-UPDATED\tcontig-L50\tcontig-n50\tcontig-n75\tcontig-n90\tcount-alt-loci-units\tcount-contig\tcount-non-chromosome-replicon\tcount-patches\tcount-regions\tgca_id\tn50\treplicon-count\tsample_id\tscaf-L50\tscaf-n75\tscaf-n90\tscaffold-count\tsname_id\tspanned-gaps\ttaxon_id\ttotal-length\tungapped-length\tunspanned-gaps\n2018-12-05\t19\t17655422\t9688072\t2759626\t0\t1402\t0\t0\t0\tGCA_000002315.5\t20785086\t34\tSAMN02981218\t12\t12763716\t6153034\t524\tGallus gallus\t878\t9031\t1065348650\t1055564190\t68\n2017-12-08\t11556\t26671\t11137\t1126\t0\t296331\t1\t0\t0\tGCA_000146605.3\t3801642\t33\tSAMN02981253\t82\t826892\t2279\t233806\tMeleagris gallopavo\t62525\t9103\t1128339136\t1093044709\t2520\n2014-01-17\t8015\t38644\t10023\t2988\t0\t124805\t0\t0\t0\tGCA_000151805.2\t8236790\t35\tSAMN02981239\t37\t2365395\t8511\t37421\tTaeniopygia guttata\t87384\t59729\t1232118738\t1222847838\t326\n2013-12-03\t5478\t55633\t24998\t8720\t0\t70862\t0\t0\t0\tGCA_000238935.1\t10614383\t0\tSAMN02981360\t28\t3647686\t907416\t25211\tMelopsittacus undulatus\t45651\t13146\t1117355426\t1086602023\t0\n2013-06-28\t771\t410964\t210094\t82403\t0\t30843\t1\t0\t0\tGCA_000247815.2\t6542656\t34\tSAMN02981387\t48\t2461026\t747680\t21836\tFicedula albicollis\t9007\t59894\t1118343587\t1102325870\t408\n2016-03-03\t9807\t30521\t15248\t6592\t0\t95828\t0\t0\t0\tGCA_000277835.1\t5255844\t0\tSAMN00839579\t54\t2009134\t655882\t27239\tGeospiza fortis\t68589\t48883\t1065292181\t1041286029\t0\n2013-08-26\t1794\t165265\t83942\t36811\t0\t27051\t0\t0\t0\tGCA_000331425.1\t16337386\t0\tSAMN02981490\t16\t5291879\t1805605\t5405\tPseudopodoces humilis\t21646\t181119\t1042980823\t1030013627\t0\n2013-07-03\t47690\t6904\t3617\t1857\t0\t295391\t0\t0\t0\tGCA_000332375.1\t19239\t0\tSAMN02981494\t16505\t8373\t2839\t182974\tAmazona vittata\t112417\t241585\t1175404042\t1128255752\t0\n2017-12-13\t12120\t26627\t13806\t6405\t0\t107177\t0\t0\t0\tGCA_000337935.2\t14233134\t0\tSAMN02981415\t17\t4899519\t1608914\t15057\tColumba livia\t92120\t8932\t1108534737\t1087765385\t0\n2013-04-18\t12168\t28645\t15764\t8203\t0\t83080\t0\t0\t0\tGCA_000337955.1\t3935757\t0\tSAMN02981425\t90\t1923668\t938520\t7020\tFalco peregrinus\t76060\t8954\t1171955363\t1153386289\t0\n2013-08-26\t10949\t31327\t16994\t8800\t0\t75898\t0\t0\t0\tGCA_000337975.1\t4154532\t0\tSAMN02981426\t84\t2202528\t987605\t5863\tFalco cherrug\t70035\t345164\t1174811715\t1150993769\t0\n2013-06-11\t11206\t26114\t10736\t3062\t0\t227448\t0\t0\t0\tGCA_000355885.1\t1233631\t0\tSAMN00011637\t268\t532024\t195458\t78487\tAnas platyrhynchos\t148961\t8839\t1105035747\t1069956150\t0\n2013-08-26\t2385\t112748\t43045\t13579\t0\t37661\t0\t0\t0\tGCA_000385455.1\t4866725\t0\tSAMN02981528\t52\t1881141\t543549\t6018\tZonotrichia albicollis\t31643\t44394\t1052600561\t1006303327\t0\n2016-11-30\t45216\t6366\t3181\t1561\t0\t282947\t0\t0\t0\tGCA_000400545.1\t6366\t0\tSAMN02981465\t45216\t3181\t1561\t282947\tAra macao\t0\t176014\t1035921044\t1035921044\t0\n2013-06-26\t61494\t4399\t2153\t961\t0\t504229\t1\t0\t0\tGCA_000400695.1\t15974\t1\tSAMN03000706\t21024\t6716\t2553\t192790\tAra macao\t311439\t176014\t1204700227\t997636166\t0\n2017-01-12\t7399\t32115\t15707\t7378\t0\t61843\t0\t0\t0\tGCA_000511605.2\t3851064\t0\tSAMD00009971\t68\t1704759\t621750\t9499\tCoturnix japonica\t52344\t93934\t898141602\t880352380\t0\n2014-02-12\t5339\t53884\t17922\t1897\t0\t358419\t0\t0\t0\tGCA_000534875.1\t17815079\t0\tSAMEA3138919\t13\t6596869\t29402\t304399\tSerinus canaria\t54020\t9135\t1152083301\t1127254831\t0\n2014-03-08\t190159\t1029\t476\t286\t0\t971998\t0\t0\t0\tGCA_000586395.1\t1029\t0\tSAMN01814332\t190159\t476\t286\t971998\tLyrurus tetrix tetrix\t0\t162951\t657025294\t657025294\t0\n2017-07-13\t5092\t56067\t16426\t2619\t0\t153095\t0\t0\t0\tGCA_000599465.2\t2042136\t0\tSAMN02981558\t150\t65386\t11797\t42369\tColinus virginianus\t110726\t9014\t1254146751\t1134249133\t0\n2014-03-20\t46282\t6034\t2865\t1160\t0\t390134\t0\t0\t0\tGCA_000599485.1\t6260\t0\tSAMN02981558\t44300\t2967\t1198\t374224\tColinus virginianus\t15910\t9014\t1042054936\t1041782176\t0\n2014-06-27\t11667\t29019\t14867\t6884\t0\t100661\t0\t0\t0\tGCA_000687185.1\t3067157\t0\tSAMN02596466\t113\t1524009\t665857\t11790\tEgretta garzetta\t88871\t188379\t1206484573\t1157789170\t0\n2014-10-10\t18680\t17226\t8439\t3684\t0\t171345\t0\t0\t0\tGCA_000687205.1\t52818\t0\tSAMN02339894\t5943\t25700\t11234\t62122\tTyto alba\t109223\t56313\t1120143088\t1111297855\t0\n2014-05-08\t16707\t20262\t10547\t4884\t0\t137480\t0\t0\t0\tGCA_000687265.1\t38071\t0\tSAMN02339890\t8592\t19766\t8945\t76189\tPhoenicopterus ruber ruber\t61291\t9218\t1132184511\t1127809853\t0\n2014-10-31\t14707\t22941\t11726\t5315\t0\t132071\t0\t0\t0\tGCA_000687285.1\t47896\t0\tSAMN02339888\t6817\t23548\t10326\t66785\tPhaethon lepturus\t65286\t97097\t1152958507\t1147080466\t0\n2014-06-27\t16160\t21679\t11642\t5750\t0\t121562\t0\t0\t0\tGCA_000687375.1\t43364\t0\tSAMN02339887\t7852\t22746\t11018\t63982\tPelecanus crispus\t57580\t36300\t1160924693\t1156708760\t0\n2014-10-10\t13705\t24645\t13223\t6290\t0\t112704\t0\t0\t0\tGCA_000690535.1\t55197\t0\tSAMN02318733\t5958\t28413\t13950\t53474\tCariama cristata\t59230\t54380\t1132245425\t1127945763\t0\n2014-10-30\t12120\t25860\t13218\t5937\t0\t114650\t0\t0\t0\tGCA_000690715.1\t46063\t0\tSAMN02324230\t6512\t22996\t10271\t70188\tColius striatus\t44462\t57412\t1075931597\t1072170539\t0\n2014-10-29\t12843\t24402\t12481\t5743\t0\t115170\t0\t0\t0\tGCA_000690775.1\t47243\t0\tSAMN02324546\t6386\t23589\t11017\t62699\tEurypyga helias\t52471\t54383\t1088019637\t1083028646\t0\n2014-09-23\t13102\t25926\t13734\t6520\t0\t112214\t0\t0\t0\tGCA_000690835.1\t47208\t0\tSAMN02324803\t7016\t24671\t12102\t57389\tFulmarus glacialis\t54825\t30455\t1141395646\t1135628672\t0\n2014-09-23\t13686\t24321\t12638\t5734\t0\t126712\t0\t0\t0\tGCA_000690875.1\t45532\t0\tSAMN02324832\t7094\t23647\t11461\t61830\tGavia stellata\t64882\t37040\t1129677294\t1122809873\t0\n2014-10-09\t13446\t25143\t13393\t6359\t0\t111484\t0\t0\t0\tGCA_000691405.1\t57319\t0\tSAMN02333670\t5758\t29373\t14115\t50905\tHaliaeetus albicilla\t60579\t8969\t1133549865\t1128456298\t0\n2014-10-10\t13631\t24735\t13087\t6179\t0\t113170\t0\t0\t0\tGCA_000691785.1\t62640\t0\tSAMN02333687\t5157\t31811\t14996\t57160\tLeptosomus discolor\t56010\t188344\t1136244952\t1133136126\t0\n2014-06-27\t12573\t24675\t12672\t5934\t0\t104131\t0\t0\t0\tGCA_000691845.1\t48089\t0\tSAMN02338310\t6132\t23864\t11004\t53499\tMerops nubicus\t50632\t57421\t1062961556\t1058508606\t0\n2014-06-27\t10509\t29093\t14715\t6830\t0\t89646\t0\t0\t0\tGCA_000691975.1\t6953989\t0\tSAMN02297499\t49\t2867284\t1168119\t10547\tCorvus brachyrhynchos\t79099\t85066\t1091312783\t1051781861\t0\n2014-08-14\t6945\t43697\t18746\t4065\t0\t138155\t0\t0\t0\tGCA_000692015.2\t2558866\t0\tSAMN02299332\t124\t1163660\t158829\t92755\tManacus vitellinus\t45400\t328815\t1145854002\t1116010121\t0\n2014-10-10\t11760\t28179\t14084\t6064\t0\t109627\t0\t0\t0\tGCA_000692075.1\t2937227\t0\tSAMN02302474\t122\t1195292\t478150\t10256\tOpisthocomus hoazin\t99371\t30419\t1203712246\t1142165867\t0\n2014-11-06\t14968\t21641\t11592\t5653\t0\t115823\t0\t0\t0\tGCA_000695195.1\t45221\t0\tSAMN02324157\t6888\t23537\t11398\t59693\tChlamydotis macqueenii\t56130\t187382\t1086566339\t1082961347\t0\n2014-10-29\t14204\t22740\t11830\t5509\t0\t119122\t0\t0\t0\tGCA_000695765.1\t47102\t0\tSAMN02339298\t6540\t23323\t10358\t67520\tMesitornis unicolor\t51602\t54374\t1087290853\t1083478027\t0\n2014-06-27\t14656\t20602\t10687\t5060\t0\t120312\t0\t0\t0\tGCA_000695815.1\t64469\t0\tSAMN02318032\t4486\t31480\t13909\t53875\tAcanthisitta chloris\t66437\t57068\t1035876403\t1031098396\t0\n2014-10-09\t21099\t16346\t8651\t4218\t0\t173116\t0\t0\t0\tGCA_000696035.1\t1746960\t0\tSAMN02371870\t258\t845590\t354134\t42881\tAquila chrysaetos canadensis\t130235\t216574\t1548476395\t1171380234\t0\n2014-10-27\t11852\t26546\t14149\t6959\t0\t93561\t0\t0\t0\tGCA_000696875.1\t61475\t0\tSAMN02339299\t4935\t31676\t15760\t42180\tNestor notabilis\t51381\t176057\t1053559886\t1049180626\t0\n2014-10-08\t10064\t34997\t18419\t9016\t0\t79563\t0\t0\t0\tGCA_000698965.1\t3593425\t0\tSAMN02316164\t101\t1660255\t574516\t6914\tStruthio camelus australis\t72649\t441894\t1225025301\t1184772141\t0\n2014-10-09\t12353\t24809\t11470\t4903\t0\t127725\t0\t0\t0\tGCA_000699005.1\t2093929\t0\tSAMN02314405\t168\t911203\t310327\t31254\tPicoides pubescens\t96471\t118200\t1167323935\t1123919997\t0\n2014-06-27\t11601\t26738\t13056\t5030\t0\t124820\t0\t0\t0\tGCA_000699085.1\t4052191\t0\tSAMN02265252\t81\t1720479\t480475\t54736\tCalypte anna\t70084\t9244\t1105676412\t1067027607\t0\n2014-09-15\t15872\t22195\t12155\t6168\t0\t114373\t0\t0\t0\tGCA_000699105.1\t5118896\t0\tSAMN02596601\t72\t2213888\t970345\t19264\tPygoscelis adeliae\t95109\t9238\t1216600033\t1162442438\t0\n2014-09-15\t11116\t31730\t16948\t8632\t0\t83173\t0\t0\t0\tGCA_000699145.1\t5071598\t0\tSAMN02596600\t71\t2436419\t1143832\t10672\tAptenodytes forsteri\t72501\t9233\t1254347440\t1182540656\t0\n2014-10-29\t12048\t26448\t13763\t6336\t0\t107160\t0\t0\t0\tGCA_000699245.1\t49530\t0\tSAMN02339892\t6164\t25789\t12097\t58607\tPterocles gutturalis\t48553\t240206\t1069324295\t1065718737\t0\n2014-09-03\t19471\t17412\t9157\t4393\t0\t152268\t0\t0\t0\tGCA_000699545.1\t30087\t0\tSAMN02339891\t11042\t16039\t7842\t82923\tPodiceps cristatus\t69345\t345573\t1134922578\t1127833593\t0\n2014-08-27\t20795\t15248\t6849\t2792\t0\t216823\t0\t0\t0\tGCA_000699945.1\t36359\t0\tSAMN02319050\t8777\t16189\t5880\t104141\tCathartes aura\t112682\t43455\t1152571117\t1142028413\t0\n2014-10-29\t14874\t22156\t11449\t5357\t0\t126789\t0\t0\t0\tGCA_000700745.1\t46345\t0\tSAMN02318612\t6762\t23072\t10509\t70122\tAntrostomus carolinensis\t56667\t279965\t1119683066\t1115277614\t0\n2014-10-10\t10934\t28882\t14787\t6637\t0\t105649\t0\t0\t0\tGCA_000703405.1\t56673\t0\tSAMN02318033\t5440\t28819\t13589\t54728\tApaloderma vittatum\t50921\t57397\t1070836417\t1066296614\t0\n2014-10-29\t9877\t29773\t14024\t4734\t0\t142367\t0\t0\t0\tGCA_000705375.2\t246268\t0\tSAMN02316659\t1147\t105290\t32748\t82514\tTinamus guttatus\t59853\t94827\t1047056493\t1024813426\t0\n2014-10-09\t8893\t39278\t20121\t9311\t0\t79162\t0\t0\t0\tGCA_000708025.2\t3657050\t0\tSAMN02296710\t98\t1672118\t643534\t15167\tCharadrius vociferus\t63995\t50402\t1219859583\t1185946782\t0\n2014-06-27\t12209\t29116\t15454\t7668\t0\t130029\t0\t0\t0\tGCA_000708225.1\t5211696\t0\tSAMN02596464\t66\t2346150\t658228\t59554\tNipponia nippon\t70475\t128390\t1223846297\t1189430844\t0\n2014-09-23\t19360\t17343\t8950\t4146\t0\t162787\t0\t0\t0\tGCA_000708925.1\t48427\t0\tSAMN02339889\t6715\t24520\t11458\t64312\tPhalacrocorax carbo\t98475\t9209\t1138967842\t1130205178\t0\n2014-10-07\t8811\t38137\t20280\t10082\t0\t71907\t0\t0\t0\tGCA_000709325.1\t2989832\t0\tSAMN02298149\t119\t1641854\t810175\t14930\tCuculus canorus\t56977\t55661\t1153894225\t1126420809\t0\n2014-10-28\t14965\t22885\t11820\t5386\t0\t134672\t0\t0\t0\tGCA_000709365.1\t56334\t0\tSAMN02339893\t5784\t28639\t13466\t59587\tTauraco erythrolophus\t75085\t121530\t1155540733\t1148734661\t0\n2014-10-27\t14476\t23333\t12496\t6082\t0\t111849\t0\t0\t0\tGCA_000709895.1\t52178\t0\tSAMN02318095\t6181\t26985\t12836\t53490\tBalearica regulorum gibbericeps\t58359\t100784\t1127605500\t1123510897\t0\n2014-10-31\t21343\t14587\t7552\t3430\t0\t180800\t0\t0\t0\tGCA_000710305.1\t53203\t0\tSAMN02318191\t5769\t26696\t12582\t62257\tBuceros rhinoceros silvestris\t118543\t175836\t1065782791\t1048779794\t0\n2014-08-04\t3144\t105493\t53547\t26230\t0\t31786\t0\t0\t0\tGCA_000737465.1\t9145499\t0\tSAMN02664716\t40\t5181775\t2388667\t1023\tHaliaeetus leucocephalus\t30763\t52644\t1178409481\t1159246443\t0\n2018-01-24\t2832\t97330\t46093\t20188\t0\t27368\t0\t0\t0\tGCA_000738735.2\t21080102\t0\tSAMN02143031\t14\t10836361\t5308065\t112\tCorvus cornix cornix\t27256\t932674\t1042264234\t1011649628\t0\n2014-10-27\t10349\t30757\t16126\t7679\t0\t84595\t0\t0\t0\tGCA_000747805.1\t3841852\t0\tSAMN03018471\t78\t1557512\t554877\t19072\tChaetura pelagica\t65523\t8897\t1119188094\t1074123860\t0\n2017-11-30\t2004\t172329\t85945\t41910\t0\t17031\t0\t0\t0\tGCA_000766835.1\t9230743\t0\tSAMN03079786\t40\t5164991\t2407462\t1141\tAquila chrysaetos canadensis\t15890\t216574\t1192725744\t1180019022\t0\n2015-04-08\t11638\t27608\t14547\t7049\t0\t91943\t0\t0\t0\tGCA_000971095.1\t5202740\t0\tSAMN01830643\t64\t2401695\t1225925\t7592\tAnser cygnoides domesticus\t84351\t381198\t1119134887\t1083755482\t0\n2016-05-26\t23947\t16158\t6578\t1680\t0\t514807\t1\t0\t0\tGCA_001039765.2\t3956354\t1\tSAMEA2560515\t59\t533950\t23775\t326828\tApteryx australis mantelli\t187979\t202946\t1595295449\t1382184833\t0\n2015-09-15\t8267\t34514\t17019\t7790\t0\t62852\t0\t0\t0\tGCA_001281735.1\t3581248\t0\tSAMN03389315\t83\t1644665\t571384\t2933\tZosterops lateralis melanops\t59919\t1220523\t1036003386\t1001685655\t0\n2015-10-30\t11630\t26171\t13795\t7059\t0\t74606\t0\t0\t0\tGCA_001420675.1\t1281105\t0\tSAMN04014659\t255\t680894\t326768\t3232\tAmazona aestiva\t71374\t12930\t1129535839\t1055778279\t0\n2015-11-04\t3054\t109237\t53010\t23416\t0\t34157\t0\t0\t0\tGCA_001431845.1\t10060041\t0\tSAMN03491621\t33\t3156566\t1165905\t3753\tCalidris pugnax\t30404\t198806\t1229094286\t1182953763\t0\n2015-11-20\t1828\t151865\t71456\t29678\t0\t22666\t0\t0\t0\tGCA_001447265.1\t3416708\t0\tSAMN04029017\t89\t1819148\t804123\t2361\tSturnus vulgaris\t20305\t9172\t1036755994\t1012819553\t0\n2015-12-04\t4579\t65145\t27910\t10468\t0\t90047\t0\t0\t0\tGCA_001458055.1\t868209\t0\tSAMEA3535133\t297\t314155\t86787\t47740\tCalidris pugnax\t42307\t198806\t1173203933\t1161805099\t0\n2019-03-20\t1868\t148693\t67216\t25138\t0\t24044\t1\t0\t0\tGCA_001522545.3\t71365269\t33\tSAMN03083587\t5\t25106277\t13820886\t1675\tParus major\t22369\t9157\t1020310769\t1002310835\t0\n2016-03-01\t515\t511217\t246035\t103428\t0\t9641\t0\t0\t0\tGCA_001577835.1\t2975000\t32\tSAMN03989050\t86\t1445352\t667000\t2530\tCoturnix japonica\t7111\t93934\t927640260\t917246527\t519\n2016-03-31\t2198\t141849\t71808\t31270\t0\t23501\t0\t0\t0\tGCA_001604755.1\t4972619\t0\tSAMN04274560\t70\t2375466\t1119939\t4612\tLepidothrix coronata\t18889\t321398\t1079577334\t1057196348\t0\n2016-06-02\t25661\t11055\t5308\t2195\t0\t271810\t0\t0\t0\tGCA_001655095.1\t20629\t0\tSAMN02646017\t13472\t9561\t3658\t158605\tPhylloscopus trochiloides viridanus\t113205\t144762\t1003330590\t996249913\t0\n2016-06-02\t54740\t5094\t2486\t1103\t0\t443858\t0\t0\t0\tGCA_001655115.1\t7450\t0\tSAMN04545452\t37248\t3555\t1506\t308480\tPhylloscopus plumbeitarsus\t135378\t56441\t997399373\t988453161\t0\n2016-06-02\t92279\t2938\t1462\t701\t0\t636760\t0\t0\t0\tGCA_001655135.1\t3610\t0\tSAMN04539782\t75323\t1776\t838\t504236\tPhylloscopus trochiloides trochiloides\t132524\t144761\t975891682\t967598047\t0\n2016-08-31\t5263\t51426\t23055\t9585\t0\t50329\t1\t0\t0\tGCA_001700915.1\t6373860\t31\tSAMN02929199\t50\t2853039\t957494\t2571\tPasser domesticus\t47758\t48849\t1042720703\t999727308\t270\n2019-07-03\t984\t290580\t122780\t36515\t0\t21713\t0\t0\t0\tGCA_001715985.3\t17883582\t0\tSAMN02299332\t16\t7888284\t2919417\t3619\tManacus vitellinus\t18094\t328815\t1072328541\t1044817368\t0\n2016-09-27\t24337\t10785\t4205\t1344\t0\t369631\t0\t0\t0\tGCA_001746935.1\t5523077\t0\tSAMN05224218\t56\t798670\t20053\t154686\tSetophaga coronata coronata\t214945\t1037456\t1171929618\t1046225303\t0\n2016-11-08\t5869\t47484\t23868\t10822\t0\t60594\t0\t0\t0\tGCA_001870855.1\t12138678\t0\tSAMN05433571\t23\t5873291\t1860309\t12186\tTympanuchus cupido pinnatus\t48408\t211916\t983776544\t979919245\t0\n2016-12-06\t9833\t33994\t18795\t10025\t0\t60351\t0\t0\t0\tGCA_001887755.1\t26776924\t19\tSAMN02981425\t12\t14853816\t6359600\t72\tFalco peregrinus\t60279\t8954\t1112064469\t1099287952\t38\n2016-12-06\t10897\t27697\t14792\t7536\t0\t77053\t0\t0\t0\tGCA_001887795.1\t24540102\t29\tSAMN02981415\t11\t10748956\t4746178\t91\tColumba livia\t76962\t8932\t1018016946\t1003591818\t31\n2017-02-17\t31947\t11009\t4489\t1187\t0\t527738\t0\t0\t0\tGCA_002002965.1\t13257\t0\tSAMD00050841\t26185\t5051\t1256\t505419\tCiconia boyciana\t22319\t52775\t1364945554\t1363630464\t0\n2017-02-17\t42062\t8228\t4006\t1722\t0\t365615\t0\t0\t0\tGCA_002002985.1\t8606\t0\tSAMD00050840\t39953\t4143\t1761\t357545\tGrus japonensis\t8070\t30415\t1265634512\t1265171339\t0\n2017-02-17\t48754\t6245\t2804\t1041\t0\t768680\t0\t0\t0\tGCA_002003005.1\t6245\t0\tSAMD00050839\t48754\t2804\t1041\t768680\tGallirallus okinawae\t0\t547194\t1114530436\t1114530436\t0\n2017-03-08\t119\t4297012\t1761366\t493537\t1\t3347\t0\t0\t1101\tGCA_002008985.2\t4297012\t0\tSAMN02981239\t119\t1761366\t493537\t3347\tTaeniopygia guttata\t0\t59729\t1982686095\t1982686095\t0\n2017-03-13\t212\t2049416\t746965\t211989\t1\t5971\t0\t0\t1761\tGCA_002021895.1\t2049416\t0\tSAMN02265252\t212\t746965\t211989\t5971\tCalypte anna\t0\t9244\t2021121536\t2021121536\t0\n2017-04-25\t33\t8911460\t4376903\t1927143\t0\t2410\t0\t0\t0\tGCA_002023255.2\t18368925\t0\tSAMN02143031\t18\t8911460\t4309332\t145\tCorvus cornix cornix\t2265\t932674\t1050110261\t1040508376\t0\n2017-03-15\t16931\t17937\t8883\t4132\t0\t148377\t0\t0\t0\tGCA_002029285.1\t19987418\t0\tSAMN04386172\t17\t7217473\t1827060\t9784\tPatagioenas fasciata monilis\t138593\t372326\t1089149042\t1072902253\t0\n2017-06-01\t1259\t234926\t115936\t51468\t0\t16014\t1\t0\t0\tGCA_002078875.2\t7868035\t32\tSAMN05969731\t41\t2828415\t1213721\t2739\tNumida meleagris\t13275\t8996\t1043264150\t1023144302\t273\n2017-06-05\t8873\t35039\t17498\t8530\t0\t64862\t0\t0\t0\tGCA_002166845.1\t5027881\t0\tSAMN02898389\t71\t2075990\t812550\t1801\tAnser cygnoides\t63061\t8845\t1130276682\t1100672068\t0\n2017-06-05\t237\t1043501\t285105\t28502\t0\t20729\t0\t0\t0\tGCA_002167245.1\t7965281\t0\tSAMN06754710\t31\t1662411\t371921\t5095\tSporophila hypoxantha\t15634\t256693\t1067760248\t1016064418\t0\n2017-06-06\t5290\t67731\t35709\t17204\t0\t61700\t0\t0\t0\tGCA_002173435.1\t1719903\t0\tSAMN06832911\t195\t849796\t399138\t20951\tUrile pelagicus\t40749\t56070\t1210663266\t1201124635\t0\n2017-06-06\t3720\t97559\t51304\t23161\t0\t55323\t0\t0\t0\tGCA_002173455.1\t1990987\t0\tSAMN06226698\t186\t961727\t382670\t27523\tNannopterum auritus\t27800\t56069\t1246050644\t1233994771\t0\n2017-06-06\t3591\t100243\t53235\t26754\t0\t31595\t0\t0\t0\tGCA_002173475.1\t4648443\t0\tSAMN05301669\t75\t2085736\t953393\t2651\tNannopterum harrisi\t28944\t473964\t1202994831\t1192415428\t0\n2019-08-06\t10003\t35201\t12860\t1444\t0\t304170\t0\t0\t0\tGCA_002174335.1\t86910\t0\tSAMN06832916\t3071\t25270\t1554\t266364\tNannopterum brasilianus\t37806\t37046\t1346185690\t1335451597\t0\n2017-06-19\t2867\t100439\t47476\t18377\t0\t33370\t1\t0\t0\tGCA_002197715.1\t2953339\t1\tSAMN06283872\t103\t1393263\t532950\t3015\tLonchura striata domestica\t30355\t299123\t1060169204\t1029017788\t0\n2017-07-13\t1950\t154132\t70864\t19129\t0\t59818\t0\t0\t0\tGCA_002218305.1\t1035259\t0\tSAMN04255336\t278\t492281\t52055\t34302\tCallipepla squamata\t25516\t9009\t1045281893\t1016929532\t0\n2017-07-25\t9048\t33496\t13826\t4796\t0\t137297\t0\t0\t0\tGCA_002224875.1\t2077029\t0\tSAMN07337763\t152\t768988\t118649\t20089\tAnas zonorhyncha\t117208\t75864\t1310797575\t1179289965\t0\n2017-07-25\t7760\t38789\t16268\t5808\t0\t120214\t0\t0\t0\tGCA_002224895.1\t2490036\t0\tSAMN07337762\t124\t810895\t159786\t18550\tAnas platyrhynchos\t101664\t8839\t1265073014\t1169880749\t0\n2017-07-25\t7760\t38789\t16268\t5808\t0\t120214\t0\t0\t0\tGCA_002224895.1\t2490036\t0\tSAMN07337762\t124\t810895\t159786\t18550\tAnas platyrhynchos\t101664\t8839\t1265073014\t1169880749\t0\n2019-08-06\t12844\t24899\t12166\t5598\t0\t115067\t0\t0\t0\tGCA_002289315.1\t15847591\t0\tSAMN07414775\t23\t5711413\t1435668\t9327\tUria lomvia\t105740\t28711\t1179358714\t1153442153\t0\n2017-09-15\t690\t388702\t170002\t56641\t0\t17072\t0\t0\t0\tGCA_002305835.1\t3249743\t0\tSAMN04881205\t77\t1241877\t420053\t5995\tPhylloscopus trochilus acredula\t11077\t209779\t1066518484\t1047879462\t0\n2017-09-26\t2233\t159062\t76518\t32261\t0\t28713\

In [13]:
help(pd.DataFrame)

Help on class DataFrame in module pandas.core.frame:

class DataFrame(pandas.core.generic.NDFrame)
 |  DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
 |
 |  Two-dimensional size-mutable, potentially heterogeneous tabular data
 |  structure with labeled axes (rows and columns). Arithmetic operations
 |  align on both row and column labels. Can be thought of as a dict-like
 |  container for Series objects. The primary pandas data structure.
 |
 |  Parameters
 |  ----------
 |  data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
 |      Dict can contain Series, arrays, constants, or list-like objects
 |
 |      .. versionchanged :: 0.23.0
 |         If data is a dict, argument order is maintained for Python 3.6
 |         and later.
 |
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to RangeIndex if
 |      no indexing information part of input data and no index provided
 |  columns : Index or array-like
 |      Column labels to use for resulting frame. Will default to
 |      RangeIndex (0, 1, 2, ..., n) if no column labels are provided
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer
 |  copy : boolean, default False
 |      Copy data from inputs. Only affects DataFrame / 2d ndarray input
 |
 |  See Also
 |  --------
 |  DataFrame.from_records : Constructor from tuples, also record arrays.
 |  DataFrame.from_dict : From dicts of Series, arrays, or dicts.
 |  DataFrame.from_items : From sequence of (key, value) pairs
 |      pandas.read_csv, pandas.read_table, pandas.read_clipboard.
 |
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 |
 |  Notice that the inferred dtype is int64.
 |
 |  >>> df.dtypes
 |  col1    int64
 |  col2    int64
 |  dtype: object
 |
 |  To enforce a single dtype:
 |
 |  >>> df = pd.DataFrame(data=d, dtype=np.int8)
 |  >>> df.dtypes
 |  col1    int8
 |  col2    int8
 |  dtype: object
 |
 |  Constructing DataFrame from numpy ndarray:
 |
 |  >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
 |  ...                    columns=['a', 'b', 'c'])
 |  >>> df2
 |     a  b  c
 |  0  1  2  3
 |  1  4  5  6
 |  2  7  8  9
 |
 |  Method resolution order:
 |      DataFrame
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __add__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __and__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __and__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __div__ = __truediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __eq__(self, other)
 |      Wrapper for comparison method __eq__
 |
 |  __floordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __floordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ge__(self, other)
 |      Wrapper for comparison method __ge__
 |
 |  __getitem__(self, key)
 |
 |  __gt__(self, other)
 |      Wrapper for comparison method __gt__
 |
 |  __iadd__(self, other)
 |
 |  __iand__(self, other)
 |
 |  __ifloordiv__(self, other)
 |
 |  __imod__(self, other)
 |
 |  __imul__(self, other)
 |
 |  __init__(self, data=None, index=None, columns=None, dtype=None, copy=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, other)
 |
 |  __ipow__(self, other)
 |
 |  __isub__(self, other)
 |
 |  __itruediv__(self, other)
 |
 |  __ixor__(self, other)
 |
 |  __le__(self, other)
 |      Wrapper for comparison method __le__
 |
 |  __len__(self)
 |      Returns length of info axis, but here we use the index.
 |
 |  __lt__(self, other)
 |      Wrapper for comparison method __lt__
 |
 |  __matmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __mod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __mul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ne__(self, other)
 |      Wrapper for comparison method __ne__
 |
 |  __or__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __or__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __pow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __pow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __radd__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __radd__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rand__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rand__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rdiv__ = __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __rfloordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rfloordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rmatmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __rmod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rmul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ror__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __ror__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rpow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rpow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rsub__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rsub__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rtruediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rxor__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rxor__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters